<div id="examineOrderList">

    <!--tab导航条 begin-->
    <tab-Menu list-array="examineOrderList.tabMenu"></tab-Menu>
    <!--tab导航条 end-->

    <div class="tab-content">
        <form class="form-horizontal" novalidate="novalidate">
            <div class="row search-container">
                <div class="col-sm-6 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">项目名称</span>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">发起人ID</span>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">时间</span>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">分类</span>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">创建开始时间</span>
                        <input type="text" class="form-control" id="start_time" lay-date ng-model="examineOrderList.searchForm.start_time" istime="true" format="YYYY年MM月DD日">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">创建结束时间</span>
                        <input type="text" class="form-control" id="end_time" lay-date ng-model="examineOrderList.searchForm.end_time" istime="true" format="YYYY年MM月DD日">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 pull-right text-align-right">
                    <div class="input-group">
                        <button type="button" class="btn btn-success ml-10">
                            <i class="glyphicon glyphicon-search"></i>
                            <span>搜索</span>
                        </button>
                        <button type="button" class="btn btn-success ml-10" ui-sref="examine.examineNewOrderList">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>新增预约</span>
                        </button>
                        <button type="button" class="btn btn-danger ml-10">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>多项删除</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!--表格 begin-->
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover middle">
                <thead>
                <tr class="text-primary">
                    <th width="30">
                        <input type="checkbox" ng-model="examineOrderList.checkAll">
                    </th>
                    <th>编号</th>
                    <th>项目名称</th>
                    <th>创建人</th>
                    <th>邮箱</th>
                    <th>评估预算</th>
                    <th>创建时间</th>
                    <th>生成报告截止时间</th>
                    <th>手机号</th>
                    <th>状态</th>
                    <th width="80" class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]">
                    <td width="30"><input type="checkbox" ng-checked="examineOrderList.checkAll"></td>
                    <td>{{item}}</td>
                    <td>超级长的活动名称</td>
                    <td>一个小瘦子</td>
                    <td>125640@qq.com</td>
                    <td>&nbsp;&nbsp;</td>
                    <td>2016-11-25&nbsp;18:14:20</td>
                    <td>2016-11-25&nbsp;18:14:20</td>
                    <td>&nbsp;&nbsp;</td>
                    <td>待审核</td>
                    <td width="80" class="text-center">
                        <a href="" class="margin-5 glyphicon glyphicon-pencil text-success" bs-show-dialog="selectEditType" click-func="examineOrderList.setId()"></a>
                        <a href="" class="margin-5 glyphicon glyphicon-trash text-danger" ng-click="examineOrderList.showDeleteDialog()" ></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--表格 end-->
        <!--分页 begin-->
        <page-bar page-change="examineOrderList.pageParams.pageChange()" page-count="examineOrderList.pageParams.page_count" current="examineOrderList.pageParams.current" show-page="{{examineOrderList.pageParams.showPage}}"></page-bar>
        <!--分页 end-->

        <!--编辑弹框 begin-->
        <div class="modal fade" id="selectEditType" tabindex="-1">
            <div class="modal-dialog" style="width: 360px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" bs-hide-dialog="selectEditType">&times;</button>
                        <div>选择编辑类型</div>
                    </div>
                    <div class="modal-body">
                        <div class="text-align-center">
                            <a class="btn btn-info" bs-hide-dialog="selectEditType" ui-sref="user.editInfo">个人信息</a>
                            <a class="btn btn-warning" bs-hide-dialog="selectEditType" ui-sref="user.address">收货地址</a>
                            <a class="btn btn-success" bs-hide-dialog="selectEditType" ui-sref="user.bankcard">银行卡</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn btn-default" bs-hide-dialog="selectEditType">取消</div>
                    </div>
                </div>
            </div>
        </div>
        <!--编辑弹框 begin-->
        <!--删除用户弹框 begin-->
        <div class="modal fade" id="deleteUserPanel" tabindex="-1">
            <div class="modal-dialog" style="width: 360px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" bs-hide-dialog="deleteUserPanel">&times;</button>
                        <div>提示</div>
                    </div>
                    <div class="modal-body">
                        <div>确定删除吗？该操作不可逆，请谨慎执行！</div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn btn-success" ng-click="examineOrderList.deleteUser()">确定</div>
                        <div class="btn btn-default" bs-hide-dialog="deleteUserPanel">取消</div>
                    </div>
                </div>
            </div>
        </div>
        <!--删除用户弹框 begin-->
    </div>
</div>