/*网站数据统计*/
#data .table tr td:nth-child(1) {
  width: 185px;
  vertical-align: middle;
}
#data .money-count {
  line-height: 36px;
}
#data .money-count .key {
  display: inline-block;
  width: 110px;
}
