<div id="data">
	
	<!--tab导航条 begin-->
	<tab-Menu list-array="data.tabMenu"></tab-Menu>
	<!--tab导航条 end-->
	
	<div class="tab-content">
		<!--表格 begin-->
		<div class="table-responsive">
			<table class="table table-bordered table-hover break-all">
				<tbody>
					<tr>
						<td class="info text-align-right">用户统计</td>
						<td>
							<div class="user-count">
								<span class="label label-success">普通用户20个</span>
								<span class="label label-info">组织机构20家</span>
								<span class="label label-warning">专家50个</span>
								<span class="label label-danger">大咖25个</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="info text-align-right">网站资金统计</td>
						<td>
							<div class="money-count">
								<div>
									<span class="text-align-right key">用户充值：</span>
									<span>￥0</span>
								</div>
								<div>
									<span class="text-align-right key">管理员充值：</span>
									<span>￥300000</span>
								</div>
								<div>
									<span class="text-align-right key">用户提现：</span>
									<span>￥60058</span>
									<a href="javascript://">查看详情</a>
								</div>
								<div>
									<span class="text-align-right key">网站余额统计：</span>
									<span>￥254510</span>

								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="info text-align-right">项目统计</td>
						<td>
							<div class="money-count">
								<div>
									<span class="text-align-right key">活动项目：</span>
									<span class="badge">66</span>
								</div>
								<div>
									<span class="text-align-right key">众筹项目：</span>
									<span class="badge">405</span>
								</div>
								<div>
									<span class="text-align-right key">评审评估项目：</span>
									<span class="badge">20</span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="info text-align-right">项目佣金</td>
						<td>
							<div class="money-count">
								<div>
									<span class="text-align-right key">佣金总计：</span>
									<span class="text-danger">￥45166</span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--表格 end-->
	</div>
</div>