<div id="work">
	
	<!--tab导航条 begin-->
	<tab-Menu list-array="work.tabMenu"></tab-Menu>
	<!--tab导航条 end-->
	
	<div class="tab-content">
		<!--表格 begin-->
		<div class="table-responsive">
			<table class="table table-bordered table-hover break-all">
				<tbody>
					<tr>
						<td class="info text-align-right">当前版本</td>
						<td>系统版本：1.0.0</td>
					</tr>
					<tr>
						<td class="info text-align-right">当前时间</td>
						<td>2016-11-21 17:12：34</td>
					</tr>
					<tr>
						<td class="info text-align-right">个人实名待审核</td>
						<td class="text-primary">123个</td>
					</tr>
					<tr>
						<td class="info text-align-right">企业实名待审核</td>
						<td class="text-primary">2个</td>
					</tr>
					<tr>
						<td class="info text-align-right">项目待审核</td>
						<td class="text-primary">999个</td>
					</tr>
					<tr>
						<td class="info text-align-right">评审评估预约待处理</td>
						<td class="text-primary">66个</td>
					</tr>
					<tr>
						<td class="info text-align-right">申请提现数</td>
						<td class="text-primary">3个</td>
					</tr>
					<tr>
						<td class="info text-align-right">项目成功数</td>
						<td class="text-primary">1236个</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--表格 end-->
	</div>

</div>