<div id="activityClassify">

	<!--tab导航条 begin-->
	<tab-Menu list-array="activityClassify.tabMenu"></tab-Menu>
	<!--tab导航条 end-->

	<div class="tab-content">
		<form class="form-horizontal" novalidate="novalidate">
			<div class="row search-container">
				<div class="col-sm-6 col-md-4">
					<div class="input-group">
						<span class="input-group-addon">关键词</span>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="input-group">
						<span class="input-group-addon">活动开始时间</span>
						<input type="text" class="form-control" id="start_time" lay-date ng-model="activityClassify.searchForm.start_time" istime="true" format="YYYY年MM月DD日">
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="input-group">
						<span class="input-group-addon">活动结束时间</span>
						<input type="text" class="form-control" id="end_time" lay-date ng-model="activityClassify.searchForm.end_time" istime="true" format="YYYY年MM月DD日">
					</div>
				</div>
				<div class="col-sm-12 col-md-12 pull-right text-align-right">
					<div class="input-group">
						<button type="button" class="btn btn-success ml-10">
							<i class="glyphicon glyphicon-search"></i>
							<span>搜索</span>
						</button>
						<button type="button" class="btn btn-info ml-10" ui-sref="activity.activityIncreaseClassify">
							<i class="glyphicon glyphicon-plus"></i>
							<span>新增</span>
						</button>
						<button type="button" class="btn btn-danger ml-10">
							<i class="glyphicon glyphicon-trash"></i>
							<span>多项删除</span>
						</button>
					</div>
				</div>
			</div>
		</form>
		<!--表格 begin-->
		<div class="table-responsive">
			<table class="table table-bordered table-striped table-hover middle">
				<thead>
					<tr class="text-primary">
						<th width="30">
							<input type="checkbox" ng-model="activityClassify.checkAll">
						</th>
						<th>编号</th>
						<th>分类名称</th>
						<th>活动名称</th>
						<th>排序</th>
						<th width="80" class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]">
						<td width="30"><input type="checkbox" ng-checked="activityClassifyCtrl.checkAll"></td>
						<td>{{item}}</td>
						<td>扶贫助学</td>
						<td>超长的活动名称</td>
						<td>7</td>
						<td width="80" class="text-center">
							<a href="" class="margin-5 glyphicon glyphicon-pencil text-success" ui-sref="activity.activityCompileClassify"></a>
							<a href="" class="margin-5 glyphicon glyphicon-trash text-danger" ng-click="activityClassifyCtrl.showDeleteDialog()" ></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--表格 end-->
		<!--分页 begin-->
		<page-bar page-change="activityClassify.pageParams.pageChange()" page-count="activityClassify.pageParams.page_count" current="activityClassify.pageParams.current" show-page="{{activityClassify.pageParams.showPage}}"></page-bar>
		<!--分页 end-->

		<!--删除用户弹框 begin-->
		<div class="modal fade" id="deleteUserPanel" tabindex="-1">
			<div class="modal-dialog" style="width: 360px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" bs-hide-dialog="deleteUserPanel">&times;</button>
						<div>提示</div>
					</div>
					<div class="modal-body">
						<div>确定删除吗？该操作不可逆，请谨慎执行！</div>
					</div>
					<div class="modal-footer">
						<div class="btn btn-success" ng-click="activityClassify.deleteUser()">确定</div>
						<div class="btn btn-default" bs-hide-dialog="deleteUserPanel">取消</div>
					</div>
				</div>
			</div>
		</div>
		<!--删除用户弹框 begin-->
	</div>
</div>