<div id="activityIncrease">
	<!--tab导航条 begin-->
	<tab-Menu list-array="activityIncrease.tabMenu"></tab-Menu>
	<!--tab导航条 end-->
	<div class="tab-content">

		<form name="editForm" novalidate="novalidate">
			<!--表格 begin-->
			<div class="table-responsive">
				<table class="table table-bordered table-hover break-all middle">
					<tbody>
					<tr>
						<td class="info text-align-right">活动名称</td>
						<td>
							<input type="text" class="form-control auto-input-width" value="">
						</td>
					</tr>
					<tr>
						<td class="info text-align-right">发起人ID</td>
						<td>
							<input type="text" class="form-control auto-input-width" value="">
						</td>
					</tr>
					<tr>
						<td class="info text-align-right">活动详情</td>
						<td>
							<textarea type="text" class="form-control auto-input-width">这是一个副文本框</textarea>
						</td>
					</tr>
					<tr>
						<td class="info text-align-right">活动海报</td>
						<td>
							<button type="button" class="btn btn-success">图片上传</button>
						</td>
					</tr>
					<tr>
						<td class="info text-align-right">活动人数</td>
						<td>
							<div class="auto-input-width">
								<div class="input-group">
									<input type="text" class="form-control">
									<span class="input-group-addon input-group-addon-success">人</span>
								</div>
							</div>

						</td>
					</tr>
					<tr>
						<td class="info text-align-right">活动时间</td>
						<td>
							<div class="row width-90">
								<div class="col-md-3 col-xs-5">
									<input type="text" class="form-control" id="start_time" lay-date ng-model="activityIncrease.searchForm.start_time" istime="true" format="YYYY年MM月DD日">
								</div>
								<sapn class="float-left padding-6">至</sapn>
								<div class="col-md-3 col-xs-5">
									<input type="text" class="form-control" id="end_time" lay-date ng-model="activityIncrease.searchForm.end_time" istime="true" format="YYYY年MM月DD日">
								</div>

							</div>

						</td>
					</tr>
					<tr>
						<td class="info text-align-right">活动地点</td>
						<td>
							<div class="row width-90">
								<div class="col-md-2 col-xs-3">
									<select class="form-control">
										<option>请选择</option>
										<option>广西</option>
										<option>北京</option>
									</select>
								</div>
								<div class="col-md-2 col-xs-3">
									<select class="form-control">
										<option>请选择</option>
										<option>汕头</option>
										<option>湛江</option>
										<option>江门</option>
									</select>
								</div>
								<div class="col-md-4 col-xs-6">
									<input type="text" class="form-control" value="详细地址"/>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="info text-align-right">活动类别</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-default dropdown-toggle" data-toggle="dropdown">互联网 <span class="caret"></span></a>
								<ul class="dropdown-menu pull-left">
									<li>
										<a tabindex="-1" href="javascript:void(0)">主办方</a>
									</li>
									<li>
										<a tabindex="-1" href="javascript:void(0)">专家</a>
									</li>
									<li>
										<a tabindex="-1" href="javascript:void(0)">个人</a>
									</li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td class="info text-align-right">选择票种</td>
						<td>
							<!--<button type="button" class="btn btn-success">免费票</button>-->
							<!--<button type="button" class="btn btn-success ml-10">收费票</button>-->
							<button type="button" class="btn btn-success" bs-show-dialog="selectEditType" click-func="activityIncrease.setId()">添加票种</button>
						</td>
					</tr>
					<tr>
						<td class="info text-align-right">联系电话</td>
						<td>
							<input type="text" class="form-control auto-input-width" value="">
						</td>
					</tr>
					<tr>
						<td class="info text-align-right">状态</td>
						<td>
							<div class="radio">
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 有效
								</label>
								<label class="radio-inline ml-30">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 无效
								</label>
								<label class="radio-inline ml-30">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 待审核
								</label>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<!--表格 end-->
			<div class="pb-20 text-align-center">
				<button type="button" class="btn btn-success padding-left-right-20">确&nbsp;&nbsp;定</button>
			</div>
		</form>
		<div class="modal fade" id="selectEditType" tabindex="-1">
			<div class="modal-dialog" style="width: 660px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" bs-hide-dialog="selectEditType">&times;</button>
						<div>添加票种</div>
					</div>
					<div class="modal-body">
						<div class="text-align-center">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputType" class="col-md-3 control-label">票种类型</label>
									<div class="col-md-3">
										<select class="form-control" id="inputType">
											<option>选择票种类型</option>
											<option>免费票</option>
											<option>收费票</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="inputEnd_time" class="col-md-3 control-label">报名截止时间</label>
									<div class="col-md-6 col-xs-6">
										<input type="text" class="form-control" id="inputEnd_time" lay-date ng-model="activityIncrease.searchForm.end_time" istime="true" format="YYYY年MM月DD日">
									</div>
								</div>
								<div class="form-group">
									<label for="inputMoney" class="col-md-3 control-label">单价</label>
									<div class="col-md-6 col-xs-6">
										<div class="input-group" id="inputMoney">
											<input type="text" class="form-control">
											<span class="input-group-addon input-group-addon-success">元/张</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="inputNumber" class="col-md-3 control-label">收费票数量</label>
									<div class="col-md-6 col-xs-6">
										<div class="input-group" id="inputNumber">
											<input type="text" class="form-control">
											<span class="input-group-addon input-group-addon-success">张</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="inputPackage" class="col-md-3 control-label">套餐设置</label>
									<div class="col-md-3">
										<select class="form-control" id="inputPackage">
											<option>选择套餐</option>
											<option>单人票</option>
											<option>双人票</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="inputDetails" class="col-md-3 control-label">费用说明</label>
									<div class="col-md-6 col-xs-6">
										<textarea type="text" class="form-control" id="inputDetails">这是一个副文本框</textarea>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<div class="btn btn-success" bs-hide-dialog="selectEditType" click-func="manage.yes()">确定</div>
						<div class="btn btn-default" bs-hide-dialog="selectEditType">取消</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>