<div id="addAddress">
	
	<!--tab导航条 begin-->
	<tab-Menu list-array="addAddress.tabMenu"></tab-Menu>
	<!--tab导航条 end-->
	
	<div class="tab-content">
		
		<!--面包屑导航条 begin-->
		<breadcrumb list-array="addAddress.smallMenu"></breadcrumb>
		<!--面包屑导航条 end-->

		<form name="editForm" novalidate="novalidate">
			<!--表格 begin-->
			<div class="table-responsive">
				<table class="table table-bordered table-hover break-all middle">
					<tbody>
						<tr>
							<td class="info text-align-right">收货人</td>
							<td>
								<input type="text" class="form-control auto-input-width" value="小明">
							</td>
						</tr>
						<tr>
							<td class="info text-align-right">收货地址</td>
							<td>
								<div class="row width-90">
									<div class="col-md-2">
										<select class="form-control">
											<option>广东</option>
											<option>广西</option>
											<option>北京</option>
										</select>
									</div>
									<div class="col-md-2">
										<select class="form-control">
											<option>广州</option>
											<option>汕头</option>
											<option>湛江</option>
											<option>江门</option>
										</select>
									</div>
								</div>

							</td>
						</tr>
						<tr>
							<td class="info text-align-right">详细地址</td>
							<td>
								<input type="text" class="form-control auto-input-width" value="18855669988">
							</td>
						</tr>
						<tr>
							<td class="info text-align-right">邮政编码</td>
							<td>
								<input type="text" class="form-control auto-input-width">
							</td>
						</tr>
						<tr>
							<td class="info text-align-right">手机号</td>
							<td>
								<input type="text" class="form-control auto-input-width">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--表格 end-->
			<div class="pb-20 text-align-center">
				<button type="button" class="btn btn-success padding-left-right-20">保&nbsp;&nbsp;存</button>
			</div>

		</form>

	</div>
</div>