<div id="address">

	<!--tab导航条 begin-->
	<tab-Menu list-array="address.tabMenu"></tab-Menu>
	<!--tab导航条 end-->

	<div class="tab-content">
		<!--面包屑导航条 begin-->
		<breadcrumb list-array="address.smallMenu"></breadcrumb>
		<!--面包屑导航条 end-->

		<form class="form-horizontal" novalidate="novalidate">
			<div class="row search-container">
				<div class="col-sm-6 col-md-4">
					<div class="input-group">
						<span class="input-group-addon">关键词</span>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-sm-6 col-md-8">
					<div class="input-group">
						<button type="button" class="btn btn-success mr-10">
							<i class="glyphicon glyphicon-search"></i>
							<span>搜索</span>
						</button>
						<button type="button" class="btn btn-info mr-10" ui-sref="user.addAddress">
							<i class="glyphicon glyphicon-plus"></i>
							<span>新增</span>
						</button>
						<button type="button" class="btn btn-danger mr-10">
							<i class="glyphicon glyphicon-trash"></i>
							<span>多项删除</span>
						</button>
					</div>
				</div>
			</div>
		</form>

		<!--表格 begin-->
		<div class="table-responsive">
			<table class="table table-bordered table-striped table-hover middle">
				<thead>
					<tr class="text-primary">
						<th width="30">
							<input type="checkbox" ng-model="address.checkAll">
						</th>
						<th>编号</th>
						<th>省份</th>
						<th>城市</th>
						<th>地址</th>
						<th>手机号</th>
						<th>邮编</th>
						<th>收货人</th>
						<th width="60" class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]">
						<td width="30"><input type="checkbox" ng-checked="address.checkAll"></td>
						<td>{{item}}</td>
						<td>广州东</td>
						<td>广州市</td>
						<td>天河区车陂街道美好居3座1105号</td>
						<td>18855447788</td>
						<td>552210</td>
						<td>胖子明</td>
						<td width="60" class="text-center">
							<a href="" class="glyphicon glyphicon-trash text-danger"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--表格 end-->

	</div>
</div>