<div id="examineCertificationDetail">
	
	<!--tab导航条 begin-->
	<tab-Menu list-array="examineCertificationDetail.tabMenu"></tab-Menu>
	<!--tab导航条 end-->
	
	<div class="tab-content">
		
		<!--面包屑导航条 begin-->
		<breadcrumb list-array="examineCertificationDetail.smallMenu"></breadcrumb>
		<!--面包屑导航条 end-->

		<form name="editForm" novalidate="novalidate">
			<!--表格 begin-->
			<div class="table-responsive">
				<table class="table table-bordered table-hover break-all middle">
					<tbody>
						<tr>
							<td class="info text-align-right">单位名</td>
							<td>益齐（深圳）企业咨询管理有限公司</td>
						</tr>
						<tr>
							<td class="info text-align-right">单位地址</td>
							<td>广东省广州市天河区车陂美好居小区1105号</td>
						</tr>
						<tr>
							<td class="info text-align-right">联系人</td>
							<td>何经理</td>
						</tr>
						<tr>
							<td class="info text-align-right">联系电话</td>
							<td>020-88445520</td>
						</tr>
						<tr>
							<td class="info text-align-right">营业执照照片</td>
							<td class="idCard">
								<img ng-src="{{public.imgUrl}}/example-slide-1.jpg">
							</td>
						</tr>
						<tr>
							<td class="info text-align-right">组织机构代码证</td>
							<td class="idCard">
								<img ng-src="{{public.imgUrl}}/example-slide-2.jpg">
							</td>
						</tr>
						<tr>
							<td class="info text-align-right">类型</td>
							<td>
								<select class="form-control" style="width: 100px;">
									<option value="1">通过</option>
									<option value="0">不通过</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="info text-align-right">拒绝理由</td>
							<td>
								<textarea type="text" class="form-control"></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--表格 end-->
			<div class="pb-20 text-align-center">
				<button type="button" class="btn btn-success padding-left-right-20">确&nbsp;&nbsp;定</button>
			</div>

		</form>

	</div>
</div>